* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-bg-container {
  text-align: center;
  color: rgb(42, 186, 10);
  padding-top: 30px;
}



.box-heading {
  font-size: larger;
  color: brown;
}

.box-container {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box {
  text-align: center;
  justify-self: center;

}

.box1 {
  height: 80px;
  width: 80px;
  background-color: gold;
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: 300px;
}


.box2 {
  height: 150px;
  width: 150px;
  background-color: gold;
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: 230px;
  margin-left: 40px;

}


.box3 {
  height: 250px;
  width: 250px;
  background-color: rgb(28, 15, 173);
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: 130px;
  margin-left: 40px;


}